<%= render 'layouts/header' %>

   <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Users
                <small>awesome</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
<!-- CONTENT -->
        MANAGE STUDENTS
        </section><!-- /.content -->
    </aside><!-- /.right-side -->

<%= render 'layouts/sidebarnav' %>
