<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
      <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../img/avatar3.png" class="img-circle" alt="User Image" />
          </div>
          <div class="pull-left info">
            <p>Hello, Jane</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                  <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="active">
              <a href="index.html">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
            <!-- Manage Users -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Manage Users</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Students</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Instructors</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Counselors</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Admin</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> HR</a>
                </li>
              </ul>
            </li>
            <!-- Admin -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Admin</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Daily</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Create Classes</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> My HR</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Admin Training</a>
                </li>
              </ul>
            </li>
            <!-- Human Resources -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>HR</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Create Employee</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Employee Payroll</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Create Announcement</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> HR Training</a>
                </li>
              </ul>
            </li>
            <!-- Teaching -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>HR</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> My Schedule</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> My Classes</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> My HR</a>
                </li>
              </ul>
            </li>
            <!-- Counseling -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Counseling</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> My Students</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> All Students</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Resources</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> My HR</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Counselor Training</a>
                </li>
              </ul>
            </li>
            <!-- Statistics -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Statistics</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Test Scores</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Branch Acceptances</a>
                </li>
              </ul>
            </li>
            <!-- Website Updates -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Website Updates</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> Notices</a>
                </li>
                <li>
                  <a href="" type="button" data-toggle="collapse"><i class="fa fa-angle-double-right"></i> How To</a>
                </li>
              </ul>
            </li>
            <!-- End Nav tabs -->
          </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->